body {
  background-color: rgb(30, 30, 30);
  font-family: dosis;
}

.bcGradient{
  background: linear-gradient(to left, rgba(67,23,90,1) 0%, rgba(187,0,94,1) 49%, rgba(187,0,94,1) 52%, rgba(215,140,0,1) 100%) !important;
}
